@charset "utf-8";
/* 全体 */
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* ヘッダー */
header{
  padding: 10px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color:#f3f4f4;
  display: flex;
  align-items: center;
}

.header_left img{
  width: 110px;
}

a{
  text-decoration: none;
  color: #636b6f;
}

nav{
  margin: 0 0 0 auto;
}

ul{
  list-style: none;
  margin: 0;
  display: flex;
}

li{
  margin: 0 0 0 15px;
  font-size: 14px;
}


/* コンテンツ */
.content {
  text-align: center;
  width: 100%;
  height: 1200px;
  padding: 200px 0 100px 0;
}
.about_photo img{
  width: 700px;
  box-shadow: 20px 20px 0 #f3f4f4;
}
.about_content{
  display: inline-block;
  padding: 0.5em 4em;
  margin: 2em 0;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #f3f4f4;
  border-radius: 10px;
}
.about_content h2{
  font-size: 40px;
  line-height: 5px;
}
.about_content h4{
  line-height: 5px;
}
/* フッター */
footer {
  background-color: #f3f4f4;
  height: 70px;
  color: #636b6f;
  text-align: center;
}
.copy{
  padding-top:-10px;
}