/* 共通部分 */
@charset "utf-8";
/* 全体 */
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}
* {
  box-sizing: border-box;
}
/* ヘッダー */
header{
  padding: 10px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  font-weight: 600;
  background-color:#f3f4f4;
  display: flex;
  align-items: center;
}

.header_left img{
  width: 110px;
}

a{
  text-decoration: none;
  color: #636b6f;
}

nav{
  margin: 0 0 0 auto;
}
.pc_nav_ul{
  display: flex;
}
ul{
  list-style: none;
  padding: 0;
}
.nav_list{
  margin: 0 0 0 15px;
  font-size: 14px;
}

/* トップページ */
/* コンテンツ */
/* ポップアップ */
.modal_window{
  border-radius: 6px;
  background: #dfe4ee;
  padding: 30px;
  width: 50%;
  position: relative;
  max-width: 600px;
}

.modal_close{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}

.modal_form{
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.modal_items_label{
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.modal_items_input{
  margin-left: 0;
  width: 200px;
  height: 30px;
  flex: inherit;
  font-size: 15px;
}
.btn_submit{
  margin: 10px;
  width: 100px;
  height: 30px;
  padding: 5px,10px;
  border-radius: 5px;
  background-color: #58BE32;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}
.btn_submit:active{
  background-color: #277A09;
}
.login_content .form_items{
  text-align: right;
}

/* コンテンツレイアウト */
.top_page_content {
  text-align: center;
  background-image: url(../images/top_p.jpg);
  background-size:cover;
  width: 100%;
  height: 1200px;
  padding: 200px 0 0px 0;
}
.top_page_content h1{
  color: #f3f4f4;
  font-size: 110px;
  text-shadow: 10px 10px 0 #636b6f;
  padding: 50px 0px;
}

.btn_signup, .btn_login {
  background-color:#f3f4f4;
  padding: 5px 24px;
  color: #f3f4f4;
  border: 2px solid #636b6f;
  border-radius: 5px;
  color: #636b6f;
  padding: 15px 25px;
  margin: 0 40px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: .1rem;
}
.btn_signup:hover, .btn_login:hover {
  color:#f3f4f4;
  background-color: #636b6f;
}
/* サービスについて */
/* コンテンツ */
.about_content {
  text-align: center;
  width: 100%;
  height: 1200px;
  padding: 200px 0 100px 0;
}
.about_photo img{
  width: 700px;
  box-shadow: 20px 20px 0 #f3f4f4;
}
.about_sentence{
  display: inline-block;
  padding: 0.5em 4em;
  margin: 2em 0;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #f3f4f4;
  border-radius: 10px;
}
.about_sentence h2{
  font-size: 40px;
  line-height: 5px;
}
.about_sentence h4{
  line-height: 5px;
}
/* お問い合せについて */
/* 入力フォーム */
/* コンテンツ */
.contact_content{
  margin: 0 auto;
  max-width: 720px;
  padding-top:150px ;
}
.contact_content h1{
  text-align: center;
}
.contact_form{
  border-top: 1px solid #ddd;
  padding: 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.contact_form:nth-child(3){
  border-bottom:1px solid #ddd;
}
.form_items_label{
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.form_items_label .ismsg{
  margin-top: 8px;
  margin-bottom: auto;
}
.form_items_required{
  border-radius: 6px;
  margin-right: 8px;
  padding: 8px 0;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #636b6f;
  color: #fff;
  font-size: 14px;
}
.form_items_input{
  margin-top: 18px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  border: 1px solid #ddd;
}
.form_items_textarea{
  border: 1px solid #ddd;
  border-radius: 6px;
  padding:0 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #fff;
  font-size: 18px;
}
.btn_contact{
  width: 150px;
}
.contact_btn{
  text-align: center;
}
/* 確認フォーム */
/* コンテンツ */
.confirm_content{
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-top:150px ;
}

/* 送信完了画面 */
.send_content{
  padding: 200px 0;
  text-align: center;
}
.send_title{
  padding: 100px 0;
}
/* 企業側 */
/* ログインページ */
.company_content{
  width: 100%;
  max-width: 720px;
  padding-top: 150px;
  text-align: center;
  margin: 0 auto;
}
.company_login_form{
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.company_login_items_label{
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.company_login_items_input{
  margin-left: 0;
  width: 200px;
  height: 30px;
  flex: inherit;
  font-size: 15px;
}
.company_register_form{
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.company_register_items_label{
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.company_register_items_input{
  margin-left: 0;
  width: 200px;
  height: 30px;
  flex: inherit;
  font-size: 15px;
}

a.company_not_login, a.company_register_title{
  text-decoration: underline;
}

/* 求人情報追加ページ */
.company_condition_content{
  width: 75%;
  padding-top: 150px;
  margin: 0 auto;
}
.company_condition_title{
  text-align: center;
}

.company_condition_section{
  display: flex;
  justify-content: center;
  text-align: center;
}
.td_info{
  width: 320px;
}
.job_info_btn{
  margin-top: 40px;
  text-align: center;
}
/* 管理画面 */
.company_mypage{
  width: 100%;
  padding-top: 150px;
  text-align: center;
}
.company_mypage_content{
  justify-content: center;
  display: flex;
}
.company_mypage_create,.company_mypage_list{
  padding: 0 50px;
}
.company_mypage_create h2, .company_mypage_list h2{
  background-color:#636b6f;
  width: 200px;
  color: #fff;
  border: 2px solid #636b6f;
  border-radius: 20px;
  font-size: 30px;
}
.company_mypage_ul{
  display: flex;
  justify-content: center;
}
.company_job_list{
  padding: 0 10px;
  text-decoration: underline;
}
.company_mypage_list{
  text-align: center;
}
/* 求人変更画面 */
.job_change{
  width: 100%;
  height: 1200px;
  padding-top: 150px;
  text-align: center;
}
/* 求職者側ページ */
.main_content{
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
}
.search_content{
  border: solid 3px #636b6f;
  border-radius: 6px;
  margin-bottom: 5px;
}
.search_form{
  width:100%;
  display: flex;
  align-items: center;
}
.search_form_label{
  width: 90px;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #636b6f;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 70px;
}
.search_btn{
  text-align: center;
}
.btn_search{
  margin: 10px;
  width: 100px;
  height: 30px;
  padding: 5px,10px;
  border-radius: 5px;
  border: 2px solid #58BE32;
  background-color: #fff;
  font-weight: bold;
  color: #58BE32;
  font-size: 15px;
}
.btn_search:active{
  background-color: #d7dfd4;
}
.job_content{
  border: solid 3px #636b6f;
  border-radius: 6px;
  padding-bottom: 10px;
}
.job_gallery{
  padding: 20px 0 20px 0;
  text-align: center;
}
.job_gallery img{
  max-width: 450px;
}
.job_preview{
  width:100%;
  display: flex;
  align-items: center;
}
.job_preview_label{
  width: 90px;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #636b6f;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 70px;
}
.job_links{
  text-align: center;
}
.btn_job_links{
  width: 70px;
  padding: 5px 10px;
  border: 1px solid #636b6f;
  border-radius: 5px;
  background-color:  #58BE32;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}
.btn_job_links:active,.btn_job_links:hover{
  background-color: #277A09;
}
/* ポップアップ */
.not_login_popup,.login_popup, .register_popup, .popup{
  display: none;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}
.show{
  display: flex;
  justify-content: center;
  align-items: center;
}
.job_detail_content{
  border-radius: 6px;
  background: #dfe4ee;
  padding: 30px;
  width: 50%;
}

/* ログアウト */
.logout_content{
  padding: 200px 0;
  text-align: center;
}
.logout_title{
  padding: 100px 0;
}
/* 応募フォーム */
.apply_content{
  margin: 0 auto;
  max-width: 720px;
  padding-top:150px ;
}
.apply_content h1{
  text-align: center;
}
.apply_form{
  border-top: 1px solid #ddd;
  padding: 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.apply_form:nth-child(7){
  border-bottom:1px solid #ddd;
}
.apply_form_items_label{
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.apply_form_items_required{
  border-radius: 6px;
  margin-right: 8px;
  padding: 8px 0;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #636b6f;
  color: #fff;
  font-size: 14px;
}
.apply_form_items_input{
  margin-top: 18px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  border: 1px solid #ddd;
}
.apply_form_terms{
  text-align: center;
}
.apply_form_btn{
  text-align: center;
}
.btn_send{
  width: 150px;
}

/* ポップアップ */


/* 応募完了画面 */
.thanks_content{
  padding: 200px 0;
  text-align: center;
}
.thanks_title{
  padding: 100px 0;
}
/* プロフィール画面 */
.profile_content{
  width: 75%;
  padding: 150px 0 30px 0;
  margin: 0 auto;
}
.profile_title{
  text-align: center;
}
.profile{
  display: flex;
  justify-content: center;
  text-align: center;
}
.profile_info,.job_info{
  font-size: 16px;
}
.profile_links{
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
.th_info{
  text-align: left;
  padding-right: 50px;
}
/* プロフィール変更画面 */


/* フッター */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f3f4f4;
  color: #636b6f;
  text-align: center;
  padding-top: 30px;
}
.copy{
  padding-top:-10px;
}