/* 共通部分 */
@charset "utf-8";
/* 全体 */
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* ヘッダー */
header{
  padding: 10px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color:#f3f4f4;
  display: flex;
  align-items: center;
}

.header_left img{
  width: 110px;
}

a{
  text-decoration: none;
  color: #636b6f;
}

nav{
  margin: 0 0 0 auto;
}

ul{
  list-style: none;
  margin: 0;
  display: flex;
}

li{
  margin: 0 0 0 15px;
  font-size: 14px;
}

/* フッター */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f3f4f4;
  height: 70px;
  color: #636b6f;
  text-align: center;
}
.copy{
  padding-top:-10px;
}

/* トップページ */
/* コンテンツ */
/* ポップアップ */
.modal_wrapper{
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
}
.modal_wrapper:not(:target){
  opacity:0;
  visibility:hidden;
  transition: opacity .3s, visibility .4s;
}
.modal_wrapper:target{
  opacity: 1;
  visibility:visible;
  transition: opacity .4s, visibility .4s;
}
.modal_wrapper::after{
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
}
.modal_wrapper .modal_window{
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,.6);
  vertical-align: middle;
}
.modal_wrapper .modal_window .login_content {
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
}
.modal_overlay{
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,..8);
}
.modal_wrapper .modal_close{
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}
.modal_wrapper .modal_close:hover{
  color:#2b2e38 !important;
}
#login_modal{
  top:25%;
}
#register_modal{
  top:25%;
}
/* コンテンツレイアウト */
.top_page_content {
  text-align: center;
  background-image: url(../images/top_photo.jpg);
  background-size:cover;
  width: 100%;
  height: 1200px;
  padding: 200px 0 0px 0;
}
.top_page_content h1{
  color: #f3f4f4;
  font-size: 80px;
  text-shadow: 10px 10px 0 #636b6f;
  padding-bottom: 50px;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.btn_signup {
  background-color:#f3f4f4;
}

.btn_login {
  background-color:#f3f4f4;
}
.btn_signup, .btn_login {
  padding: 5px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  color: #636b6f;
  padding: 15px 25px;
  margin: 0 15px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: .1rem;
}
.btn_signup:hover {
  opacity:1;
}
.btn_login:hover {
  opacity:1;
}
/* サービスについて */
/* コンテンツ */
.about_content {
  text-align: center;
  width: 100%;
  height: 1200px;
  padding: 200px 0 100px 0;
}
.about_photo img{
  width: 700px;
  box-shadow: 20px 20px 0 #f3f4f4;
}
.about_sentence{
  display: inline-block;
  padding: 0.5em 4em;
  margin: 2em 0;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #f3f4f4;
  border-radius: 10px;
}
.about_sentence h2{
  font-size: 40px;
  line-height: 5px;
}
.about_sentence h4{
  line-height: 5px;
}
/* お問い合せについて */
/* 入力フォーム */
/* コンテンツ */
.contact_content{
  height: 1200px;
  padding-top:200px ;
}
.contact_content .contact_form{
  text-align: center;
}
/* 確認フォーム */
/* コンテンツ */
.confirm_content{
  height: 1200px;
  padding-top:200px ;
}
.confirm_content .contact_form{
  text-align: center;
}
/* 送信完了画面 */
.send_content{
  padding: 200px 0;
  text-align: center;
}
.send_title{
  padding: 100px 0;
}
/* 企業側 */
/* ログインページ */
.company_content{
  width: 100%;
  height: 1200px;
  padding-top: 200px;
  display:flex;
  justify-content: center;
  text-align: center;
}
.company_register, .company_login{
  padding: 0 50px;
}
.company_login h4, .company_register h4{
  font-size: 32px;
}
.company_register_title{
  font-size: 32px;
}
.company_register{
  padding-top: 100px;
}
#company_not_login_modal,#company_register_modal{
  top: 25%;
}
/* 求人情報追加ページ */
.company_condition_content{
  width: 100%;
  height: 1200px;
  padding-top: 200px;
  text-align: center;
}
/* 管理画面 */
.company_mypage{
  width: 100%;
  height: 1200px;
  padding-top: 200px;
  text-align: center;
}
.company_mypage_content{
  justify-content: center;
  display: flex;
}
.company_mypage_create,.company_mypage_list{
  padding: 0 50px;
}
.company_mypage_create h3, .company_mypage_list h3{
  font-size: 25px;
}
/* 求人変更画面 */
.job_change{
  width: 100%;
  height: 1200px;
  padding-top: 200px;
  text-align: center;
}
/* 求職者側ページ */
.job_content{
  width: 50%;
  margin: 0 auto;
  height: 1200px;
  padding: 200px 0 0 0;
  font-weight: bold;
  background: #FFF;
  border: solid 3px blue;
  border-radius: 10px
}
.job_gallery{
  text-align: center;
}

.job_gallery img{
  max-width: 600px;
}
.job_preview{
  text-align: center;
  font-size: 20px;
}
.table_02{
  text-align: center;
}
.th_02{
  text-align: right;
}
.job_links{
  text-align: center;
  font-size: 20px;
}
.btn-orange,a.btn-orange {
  color: #fff;
  background-color: #eb6100;
}
.btn-orange:hover,a.btn-orange:hover {
  color: #fff;
  background: #f56500;
}
a.btn-radius {
  border-radius: 100vh;
}
/* ポップアップ */
#detail_modal{
  top: 25%;
}
/* ログアウト */
.logout_content{
  padding: 200px 0;
  text-align: center;
}
.logout_title{
  padding: 100px 0;
}
/* 応募フォーム */
.apply_content{
  height: 1200px;
  padding-top:200px ;
}
.apply_form{
  text-align: center;
}
.btn_terms{
  text-decoration:underline;
  cursor: pointer;
}
/* 応募完了画面 */
.thanks_content{
  padding: 200px 0;
  text-align: center;
}
.thanks_title{
  padding: 100px 0;
}
/* プロフィール画面 */
.profile_content{
  width: 100%;
  padding: 200px 0 30px 0;
  text-align: center;
}
th,td{
  border: solid 1px;
  padding: 10px;
  width: 200px;
  height: 50px;
}
table{
  margin: auto;
  border-collapse: collapse;
}
.profile_links{
  text-align: center;
  font-size: 20px;
}
.btn_black {
  color: #fff;
  background-color: black;
  opacity: 0.8;
  border-radius: 100vh;
}
.btn_black:hover {
  color: #fff;
  background: black;
  opacity: 1.0;
}
/* プロフィール変更画面 */
.profile_change{
  width: 100%;
  padding: 200px 0;
  text-align: center;
}
.personal_change{
  margin-bottom: 20px;
}