@charset "utf-8";
/* 全体 */
body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(../images/top_photo.jpg);
  background-size:cover;
}

* {
  box-sizing: border-box;
}

/* ヘッダー */
header{
  padding: 10px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color:#f3f4f4;
  display: flex;
  align-items: center;
}

.header_left img{
  width: 110px;
}

a{
  text-decoration: none;
  color: #636b6f;
}

nav{
  margin: 0 0 0 auto;
}

ul{
  list-style: none;
  margin: 0;
  display: flex;
}

li{
  margin: 0 0 0 15px;
  font-size: 14px;
}


/* コンテンツ */
.content {
  text-align: center;
  width: 100%;
  height: 1200px;
  padding: 350px 0 100px 0;
}

.content h1{
  color: #f3f4f4;
  font-size: 80px;
  text-shadow: 10px 10px 0 #636b6f;
  padding-bottom: 50px;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.signup {
  background-color:#f3f4f4;
}

.login {
  background-color:#f3f4f4;
}

.btn {
  padding: 5px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity:1;
}

.links >a {
    color: #636b6f;
    padding: 15px 25px;
    margin: 0 15px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .1rem;
}
/* フッター */
footer {
  background-color: #f3f4f4;
  height: 70px;
  color: #636b6f;
  text-align: center;
}
.copy{
  padding-top:-10px;
}